<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="../../vue.js"></script>
</head>

<body>
    <div id="app">
        <div v-for="item of list">
            {{item}}
        </div>
        <hr>
        <!-- index 下标 
            一般来说 为了提升循环显示的性能
            会为每个循环项加上一个唯一的key值
            不建议使用index作为key值,index的频繁使用会降低性能
            一般实用查询后端返回所带的id 例如商品列表里的商品类别id
        -->
        <div v-for="(item, index) of list" :key="index"  >
            {{item}} --- {{index}}
        </div>
        <hr>
        <div v-for="(item, index) of list" :key="item.id"  >
                {{item.text}} --- {{item.id}}
        </div>
    </div>

    <script>
        // vue数组变异方法 改变数组内容可以通过改变引用
        //,即赋值一个新的数组 可以通过vm.list = [{...}]
        //在控制台测试
        var vm = new Vue({
            el: "#app",
            data: {
                list: [
                    {
                        id:"010120201",
                        text:"hello"
                    },{
                        id:"010120202",
                        text:"Dell"
                    }
                ]
            }
        })
        /*
         * 当我们去尝试数组中的内容的时候, 不能直接通过下标的形式,
         * 即 vm.list[3] = {"id":"12313", "text":"wang"}
         * 这种方式在控制台打印,确实会改变list,但是页面上的内容不会有变化
         * 
         * 只能通过vue提供的几种变异方法来操作数组,
         * 才能够实现数据发生变化,页面也跟着变的这种效果
         * 一共有七种变异方法帮助我们去操作数组.
         * pop 把数组最后一项删除 
         * push 向数组中增加一个元素
         * shift 把数组的第一项删除掉
         * unshift 向数组的第一项添加内容
         * splice 数组截取
         * sort 排序
         * reverse 反转数组
         * =====================================================
         * 从list的下标为1的元素开始截取,向后删除一条,并添加一条
         * 参数1 截取位置
         * 参数2 删除条数
         * 参数3 新增数据内容 
         * 从而达到修改的目的 是用这种方式改变list的同时,页面也会
         * 跟着改变
         * vm.list.splice(1,1,{"id":"333333","text":"wang2"})
         * =====================================================
         * 通过改变引用的方式,动态改变数据.直接给list变量赋值一个新的数组
         * vm.list = [
                    {
                        id:"5555 55",
                        text:"hello444"
                    },{
                        id:"66666666",
                        text:"Dell444"
                    }
                ]
         */

    </script>
</body>

</html>