<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>hello world</title>
    <script src="./vue.js"></script>
</head>

<body>
    <div id="app">
        <input type="text" v-model="inputValue">
        <button v-on:click="handleBtnClick">提交</button>
        <ul>
            <!-- <li v-for="item in list">{{item}}</li> -->
            <todo-item v-bind:content="item" 
                       v-for="item in list">
            </todo-item>
        </ul>
    </div>

    <!-- 
        todo-item相对于外层的app来说,是一个子组件
        循环list显示子组件内容,需要用到v-bind将app中的数据
        传递给todo-item子组件

     -->


    <script>
        
        // Vue.component("TodoItem",{
        //     props:['content'], //这个属性用来接收 外部传进来的值
        //     template: "<li>{{this.content}}</li>"
        // })
             

        // 创建一个局部组件的对象,一遍将其注册到app中 components 中,
        //使其生效
        var TodoItem = {
            props:['content'],
            template:"<li>{{this.content}}</li>"
        }


        // vue的方式
        var app = new Vue({
            el: '#app', // el 代表管理的vue实例负责管理的区域
            components:{
                TodoItem: TodoItem //将上边定义的局部组件注册到app中
            },
            data:{
                list: [],
                inputValue:'' 
            },
            methods:{
                handleBtnClick: function(){
                    this.list.push(this.inputValue)
                    //清空input
                    this.inputValue = ''
                }
            }
        })
       
    </script>
</body>

</html>